<header class="list-group-item list-group-item-primary">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid mx-4 my-2">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Recipe Book</a>
      </div>
      <div class="">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div
        class="pt-2 collapse navbar-collapse"
        id="navbarToggleExternalContent"
      >
        <ul class="navbar-nav">
          <li
            class="nav-item px-4 list-group-item-primary list-group-item-action"
          >
            <a class="nav-link" routerLink="/recipes" routerLinkActive="active"
              >Recipes</a
            >
          </li>
          <li
            class="nav-item px-4 list-group-item-primary list-group-item-action"
          >
            <a
              class="nav-link min-w-max"
              routerLink="/shopping-list"
              routerLinkActive="active"
              >Shopping List</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link px-4 dropdown-toggle fs-5 list-group-item-primary list-group-item-action"
              style="cursor: pointer"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Manage</a
            >
            <ul class="dropdown-menu bg-body-secondary p-0">
              <li>
                <a
                  class="px-3 py-2 dropdown-item list-group-item list-group-item-danger list-group-item list-group-item-action"
                  style="cursor: pointer"
                  >save data</a
                >
              </li>
              <li>
                <a
                  class="px-3 py-2 dropdown-item list-group-item list-group-item-danger list-group-item list-group-item-action"
                  style="cursor: pointer"
                  >fetch data</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
