/* You can add global styles to this file, and also import other style files */

* {
    /* color: blanchedalmond;
    background-color: #0f0f0f; */
}

body {
    display: block;
    box-sizing: border-box;
    width: auto;
    margin: 0.125rem;
    padding: 0.125rem;
}