/* You can add global styles to this file, and also import other style files */
* {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
}

.full-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}
