.app{
    margin: 2rem;
    padding: 1rem;
}

.instructions{
    margin: 1rem;
    padding: 0.5rem;
}

.instructions li {
    padding: 0.25rem;
}

.solution{
    margin: 1rem;
    padding: 0.5rem;
}

.paragraph {
    margin: 1rem;
    padding: 1rem;
}

.timestamps{
    margin: 0.125rem;
    padding: 0.125rem;
}

.timestamps, li{
    margin: 0.125rem;
    padding: 0.125rem;
}

.timestamp{
    color: white;
    margin: 0.125rem;
    padding: 0.125rem;
}