<div class="full-page">
  <div class="container my-4">
    <div class="row">
      <ol class="list-group list-group-numbered">
        <li
          class="list-group-item list-group-item-action list-group-item-primary"
        >
          Add A button which says 'Display Details'
        </li>
        <li
          class="list-group-item list-group-item-action list-group-item-primary"
        >
          Add a paragraph with any content of your choice (e.g. 'Secret Password
          = tuna')
        </li>
        <li
          class="list-group-item list-group-item-action list-group-item-primary"
        >
          Toggle the displaying of that paragraph with the button created in the
          first step
        </li>
        <li
          class="list-group-item list-group-item-action list-group-item-primary"
        >
          Log all button clicks in an array and output that array below the
          secret paragraph (maybe log a timestamp or simply an incrementing
          number)
        </li>
        <li
          class="list-group-item list-group-item-action list-group-item-primary"
        >
          Starting at the 5th log item, give all future log items a blue
          background (via ngStyle) and white color (ngClass)
        </li>
      </ol>
    </div>
    <div class="row pt-4">
      <div class="d-flex flex-row-reverse py-2">
        <div class="col-4">
          <button
            type="reset"
            class="btn btn-primary"
            (click)="toggleDisplay()"
          >
            Display Details
          </button>
        </div>
        <div class="col-8" *ngIf="showSecret">Secret Password = tuna</div>
      </div>
      <ul class="list-group">
        <li
          class="list-group-item list-group-item-action"
          *ngFor="let item of clickLog; let i = index"
          [ngClass]="returnClass(i)"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</div>
