<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6">
    <form class="d-flex flex-column gap-3" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" title="email" class="form-control" ngModel required email>
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" title="password" class="form-control" ngModel required
          minlength="6">
      </div>
      <div class="col-auto position-relative">
        <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up'
          }}</button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Sign Up' :
          'Login' }}</button>
        <div class="w-100 d-flex flex-row justify-content-center position-absolute top-50">
          <span class="pulsate" *ngIf="isLoading"></span>
        </div>
      </div>
      <div class="col-auto" *ngIf="error">
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      </div>
    </form>
  </div>
</div>
