/* You can add global styles to this file, and also import other style files */
body{
    display: block;
    box-sizing: border-box;
    color: aliceblue;
    background-color: #0f0f0f;
    width: auto;
    height: 100vh;
}