<nav class="navbar navbar-default">
    <div class="container-fluid row">
        <div class="navbar-header col-md-3">
            <a href="#" class="navbar-brand active">Recipe Book</a>
        </div>
        <div class="col-md-9">
            <ul class="navbar row mt-2 pt-3">
                <li class="navbar-nav nav-item active col-md-3" ><a href="#">Recipes</a></li>
                <li class="navbar-nav nav-item active col-md-3"><a href="#">Shopping List</a></li>
                <li class="dropdown navbar-nav navbar-right col-md-3">
                    <a href="#" class="dropdown-toggle active" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-item">
                        <li><a class="active" href="#">Save Data</a></li>
                        <li><a class="active" href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>