<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="true"
      >
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu bg-indigo-200">
        <li>
          <a
            (click)="onAddToShoppingList()"
            class="dropdown-item"
            style="cursor: pointer"
            >To Shopping List</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            (click)="onEditRecipe()"
            style="cursor: pointer"
            >Edit Recipe</a
          >
        </li>
        <li>
          <a class="dropdown-item" style="cursor: pointer">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>{{ recipe.description }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-warning"
        *ngFor="let ingredient of recipe.ingredients"
      >
        {{ ingredient.name }} {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
