<div class="row mt-4">
  <div class="col-xs-12">
    <form class="d-flex flex-column gap-3" [formGroup]="recipeForm" (ngSubmit)="onRecipeSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath" class="form-label">Image URL</label>
            <input type="text" name="imagePath" id="imagePath" class="form-control" formControlName="imagePath">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 row" *ngIf="imagePath">
          <img [src]="imagePath" alt="" class="img-responsive recipe-image">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" row="5"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row g-3 mt-4" formArrayName="ingredients">
        <div class="col-xs-12 row gy-1 gx-2" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
          <div class="col-sm-8">
            <input type="text" title="ingredient" class="form-control" formControlName="name">
          </div>
          <div class="col-sm-2">
            <input type="number" title="ingredient-amount" class="form-control" formControlName="amount">
          </div>
          <div class="col-sm-2">
            <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 d-flex flex-row gap-3">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
