/* You can add global styles to this file, and also import other style files */

body {
  color: #b2b2b2;
  background-color: #1e1e1e;
  font-family: 'Gabriela Regular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
