.root-app-container {
    width: stretch;
    display: grid;
    grid-template-rows: auto;
    margin: 1rem;
    padding: 0.5rem;
    grid-gap: 0.5rem;
}

.form{
    width: stretch;
    display: grid;
    grid-template-rows: auto;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    grid-gap: 1 rem;
    justify-content: flex-start;
    justify-self: center;
}

.text-span{
    margin: 1rem 1rem 1rem 1rem;
}

.button {
    margin: 1rem;
}
