/* You can add global styles to this file, and also import other style files */
@use "./assets/scss/variables" as v;

* {
  font-family: v.$font-gaby;
  background-color: v.$bg-dark;
}

body {
  font-size: 16px;
  background-color: v.$bg-dark !important;
  color: v.$text-dark !important;
}
