.header {
    display: flex;
    flex-direction: row;
    justify-self: stretch;
    justify-content: stretch;
    align-content: center;
    margin: 0.25rem;
    padding: 0.25rem;
    color: aliceblue;
    background-color: #0f0f0f;
    border: 0.06125rem solid #6e6e6e;
    border-radius: 0.25rem;
}

.header-navbar{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0.25rem;
    padding: 0.25rem  0.5rem;
    color: aliceblue;
    background-color: #0f0f0f;
    border: 0.06125rem solid#6e6e6e;
    border-radius: 0.25rem;
}