<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
        <div *appUnless="onlyOdd">
          <li class="list-group-item" *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div>
        <ng-template [ngIf]="!onlyOdd">
          <li class="list-group-item" *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </ng-template>
      </ul>
      <p appBasicHighlight>Style me with a custom directive</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">
        Style me with a custom directive
      </p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5" >value is 5</p>
        <p *ngSwitchCase="10" >value is 10</p>
        <p *ngSwitchDefault >value is Default</p>
      </div>
    </div>
  </div>
</div>
