.shopping-list{
    position: relative;
    box-sizing: border-box;
    width: stretch;
    border: 0.06125rem solid #eee;
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 0.25rem;

}

.ingredients{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: flex-start;
}